#hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12.5%;
  justify-content: space-around;
  min-height: calc(100vh - 60px);
  padding: 0 2rem 80px 2rem;

  .hero-image {
    display: none;
  }

  .hero-content {
    #hero-content-title-primary {
      color: var(--primary);
    }

    #hero-content-title-accent {
      color: var(--accent);
    }

    .hero-text {
      color: var(--secondary);
    }
  }
}

.learn-more-button {
  border-radius: 50%;
  color: var(--text);
  cursor: none;
  display: flex;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  transition: all 0.25s;
  width: 200px;

  svg {
    animation: rotate-text 15s linear infinite;
    transition: all 0.25s;

    text {
      fill: var(--secondary);
    }
  }

  #learn-more-arrow {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s;
  }
}

@keyframes rotate-text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.learn-more-button-hover {
  svg {
    text {
      fill: var(--accent);
      transition: all 0.25s;
    }
  }

  #learn-more-arrow {
    color: var(--accent);
    transition: all 0.25s;
  }
}

@media screen and (min-width: 769px) {
  #hero {
    height: calc(100vh - 80px);
    padding: 80px 12.5% 0 12.5%;
  }
}

@media screen and (min-width: 1025px) {
  #hero {
    flex-direction: row;

    .hero-image {
      display: block;
      width: 50%;

      img {
        width: 100%;
      }
    }

    .hero-content {
      width: 50%;
    }
  }
}

#about {
  height: calc(100vh - 80px);
}
