@import url("https://fonts.googleapis.com/css?family=Hammersmith%20One:400|Poppins:200,400,700");

:root {
  --text: hsl(210, 10%, 92%);
  --background: hsl(210, 13%, 3%);
  --primary: hsl(212, 60%, 60%);
  --secondary: hsl(292, 10%, 28%);
  --accent: hsl(155, 100%, 50%);
}

body {
  background-color: var(--background);
  cursor: none;
  font-family: "Poppins";
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Hammersmith One";
  font-weight: 400;
}

html {
  color: var(--text);
  font-size: 75%; /* 16px */
  scroll-behavior: smooth;
}

@media screen and (min-width: 769px) {
  html {
    font-size: 100%; /* 16px */
  }
}

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

/* page content */

.cursor {
  border-radius: 0;
  display: block;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.25s;
  width: 32px;
  z-index: 9999999999999999;
}

.cursor-circle {
  background-color: var(--text);
  border-radius: 100%;
  height: 32px;
  pointer-events: none;
  position: absolute;
  width: 32px;
  z-index: 999;
}

nav {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 99;
}

@media screen and (min-width: 769px) {
  nav {
    bottom: auto;
    top: 0;
  }
}

.navbar {
  background-color: var(--background);
  border: 1px solid var(--secondary);
  border-width: 1px 0px 0px 0px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;

  .nav-logo {
    color: transparent;
    cursor: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
    letter-spacing: 5px;
    margin: 0;
    width: fit-content;

    .nav-logo-text {
      background: linear-gradient(90deg, var(--primary), var(--accent));
      background-clip: text;
      color: transparent;
      font-family: Poppins;
      font-size: 1.333rem;
      font-weight: 700;
    }
  }

  .nav-links {
    display: flex;
    justify-content: right;
    opacity: 0;
    width: 50%;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin: 0 1em;
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    border-width: 0px 0px 1px 0px;
    padding: 0 12.5%;

    .nav-links {
      opacity: 1;
    }
  }
}

body::-webkit-scrollbar {
  background-color: hsl(210, 13%, 8%);
  width: 0.75rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  box-shadow: 0 -100vh 0 100vh var(--accent);
}
